*{
    margin: 0px;    /*外边距*/
    padding: 0px;   /*内边距*/
}

body{
    background-color: #f4fdff;
}

#container {
    position: relative; /*相对布局*/
}

.box{
    padding: 5px;
    float: left;    /*向左浮动*/
}
.box_img{
    background-color: white;
    padding: 5px;
    border: 3px solid #d4dddf;  /*边框*/
    box-shadow: 0 0 10px aliceblue;   /*阴影*/
    border-radius: 5px; /*设置边框圆角度*/
}

.box_img img{
    width: 150px;
    height:auto;    /*自适应高度*/
}

#pTop {
    display:table;                      /*模拟表格设置div内容垂直居中*/
    /*margin:0 auto;*/
    width: 50px;
    height: 45px;
    position:fixed; /*固定div位置不动*/
    z-index: 1;/*设置div浮于页面元素最上层*/
}

#top{
    text-align: center;/*设置div内容水平居中*/
    padding: 5px 0;
    background-color: #63c637;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow:0 0 15px #63c637;
    color: #fff;
    font-size: 10px;
    font-weight: bolder;    /*设置字体粗细*/
    font-family:"Apple Chancery";

    display:table-cell;                 /*模拟表格设置div内容垂直居中*/
    vertical-align:middle;              /*模拟表格设置div内容垂直居中*/
}




